@import url("https://api.fontshare.com/v2/css?f[]=general-sans@1,200,500,300,600,400,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Instrument+Serif:ital@0;1&family=Inter+Tight:ital,wght@0,100..900;1,100..900&display=swap");

* {
  margin: 0px;
  box-sizing: border-box;
  scroll-behavior: smooth;
  padding: 0px;
}

:root {
  --theme-light: #fdfdfd;
  --theme-blue: #e0e7f1;

  --blue: #74b4fd;

  --pink: #fc466d;
  --pink-2: #ff7676;
  --pink-light: #ffd6d6;

  --yellow: #ffd82b;
  --yellow-2: #ffd976;
  --yellow-light: #fff3d6;

  --green: #64ffa2;

  --dark-bg: rgb(22, 22, 22);
  --light-bg: #ffffff;
  --grey-bg: #f4f4f5;

  --text: #a2a2a2;
  --text-dark: #1d1e26;
  --text-med: #636363;

  --text-light: #c0c0c0;
  --text-vlight: #fffffb;

  --upstox: #551e90;
  --openhouse: #ef5c34;

  --easing: cubic-bezier(0.68, 0.28, 0.82, 0.64);
  --easing-slick: cubic-bezier(0.02, 0.98, 0.65, 1.15);
}

body {
  font-family: "Inter Tight", sans-serif;
  font-weight: 400;
  overflow-x: hidden;
  color: var(--text-dark);
  background-color: #121213;
}

.space-big {
  width: 100%;
  height: 160px;
}

.section-header {
  font-family: "Instrument Serif", serif;
  font-style: italic;
  color: var(--text-med);
  font-weight: 600;
  font-size: 6rem;
  opacity: 0.4;
  margin-bottom: 40px;
}

#about {
  margin-bottom: 120px;
  width: 90%;
  max-width: 1280px;
  margin: auto;
}

.filler {
  width: 100%;
  height: 150px;
}

.hero {
  width: 100%;
  max-width: 1280px;
  height: 620px;
  background-image: url(../assets/me.jpg);
  background-size: 100% auto;
  border-radius: 8px;
}

.about-text {
  color: var(--text);
  width: 90%;
  max-width: 720px;
  margin-top: 60px;
}

#bold {
  font-family: "Instrument Serif", serif;
  color: var(--text-vlight);
  font-weight: 400;
  font-size: 1.75rem;
  letter-spacing: 0.25px;
  margin-bottom: 40px;
  line-height: 1.25;
}

.about-desc {
  font-size: 1.1rem;
  line-height: 1.5;
  color: var(--text-med);
}

.about-header {
  font-family: "Instrument Serif", serif;
  font-style: italic;
  font-weight: 400;
  font-size: 2.5rem;
  letter-spacing: 0.25px;
  line-height: 1.25;
  margin-top: 80px;
}

#learning {
  color: var(--yellow-2);
  margin-top: 120px;
}

#interests {
  color: var(--blue);
  margin-top: 120px;
}

#bucket {
  color: #afebb2;
  margin-top: 120px;
}

.text-block {
  color: var(--text);
  width: 90%;
  max-width: 720px;
  margin-top: 20px;
  font-size: 1.1rem;
  line-height: 1.5;
  color: var(--text-med);
}

.text-block a {
  text-decoration: none;
  color: var(--text);
}

.interest-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  width: 100%;
  max-width: 960px;
  margin-top: 40px;
  column-gap: 60px;
  row-gap: 60px;
}

.interest-cell {
  margin-top: 40px;
}

.interest-cell i {
  font-size: 2.5rem;
  color: #4c4c4c;
}

.cell-text {
  margin-top: 12px;
  margin-left: 3px;
  font-size: 1.15rem;
  color: var(--text);
  font-weight: 300;
  line-height: 1.4;
}

.bucket-list {
  width: 100%;
  max-width: 700px;
  margin: auto;
  margin-top: 60px;
  margin-left: -28px;
  display: flex;
  flex-direction: row;
}

.bucket-row {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 400px;
  margin-bottom: 24px;
}

.check-box {
  width: 24px;
  height: 24px;
}

.bucket-row i {
  font-size: 1.5rem;
  color: var(--text-light);
}

.bucket-row p {
  font-size: 1.15rem;
  margin-left: 8px;
  color: var(--text);
}

#done {
  opacity: 0.5;
}

@media only screen and (max-width: 800px) {
  .interest-grid {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    width: 100%;
    max-width: 960px;
    margin-top: 40px;
    column-gap: 60px;
    row-gap: 20px;
  }

  .bucket-list {
    width: 90%;
    max-width: 700px;
    margin: auto;
    margin-top: 50px;
    display: flex;
    flex-direction: column;
  }

  .bucket-row {
    width: 100%;
  }

  .hero {
    width: 100%;
    max-width: 1100px;
    height: 400px;
    margin: auto;
    background-image: url(../assets/me.jpg);
    background-size: auto 100%;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 8px;
  }
}
