@import url("https://api.fontshare.com/v2/css?f[]=general-sans@1,200,500,300,600,400,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Instrument+Serif:ital@0;1&family=Inter+Tight:ital,wght@0,100..900;1,100..900&display=swap");

* {
  margin: 0px;
  box-sizing: border-box;
  scroll-behavior: smooth;
  padding: 0px;
}

:root {
  --theme-light: #fdfdfd;
  --theme-blue: #e0e7f1;

  --blue: #3b8eef;

  --pink: #fc466d;
  --pink-2: #ff7676;
  --pink-light: #ffd6d6;

  --yellow: #ffd82b;
  --yellow-2: #ffd976;
  --yellow-light: #fff3d6;

  --green: #64ffa2;

  --dark-bg: rgb(22, 22, 22);
  --light-bg: #ffffff;
  --grey-bg: #f4f4f5;

  --text: #a2a2a2;
  --text-dark: #1d1e26;
  --text-med: #636363;

  --text-light: #c0c0c0;
  --text-vlight: #fffffb;

  --upstox: #551e90;
  --openhouse: #ef5c34;

  --easing: cubic-bezier(0.68, 0.28, 0.82, 0.64);
  --easing-slick: cubic-bezier(0.02, 0.98, 0.65, 1.15);
}

body {
  font-family: "Inter Tight", sans-serif;
  font-weight: 400;
  overflow-x: hidden;
  color: var(--text-dark);
  background-color: #f2f2f2;
}

.title-work {
  position: fixed;
  z-index: -1;
  width: 100%;
  margin: auto;
  height: auto;
  margin-bottom: -100px;
  padding-top: 150px;
}

h1 {
  font-family: "Instrument Serif", serif;
  font-style: italic;
  color: var(--text);
  font-weight: 700;
  letter-spacing: 0.2px;
  margin-left: 8px;
  font-size: 4.7rem;
  width: 90%;
  max-width: 1280px;
  margin: auto;
}

.space-large {
  width: 100%;
  height: 300px;
}

.divider {
  width: 100%;
  height: 2px;
  background-color: #c9c9c9;
  margin-bottom: 40px;
}

.more {
  width: 100%;
  height: auto;
  margin: auto;
  font-weight: 450;
  background-color: var(--light-bg);
  padding-top: 160px;
  padding-bottom: 160px;
}

.more p {
  font-family: "Instrument Serif", serif;
  font-style: italic;
  width: 90%;
  max-width: 1280px;
  margin: auto;
  font-size: 3rem;
}

@media only screen and (max-width: 800px) {
  .title-work {
    position: fixed;
    z-index: -1;
    width: 100%;
    margin: auto;
    height: auto;
    margin-bottom: -100px;
    padding-top: 120px;
  }

  h1 {
    font-family: "Instrument Serif", serif;
    font-style: italic;
    color: var(--text);
    font-weight: 700;
    letter-spacing: 0.2px;
    margin-left: 8px;
    font-size: 3rem;
    width: 90%;
    max-width: 1280px;
    margin: auto;
  }
}
