@import url("https://api.fontshare.com/v2/css?f[]=general-sans@1,200,500,300,600,400,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Instrument+Serif:ital@0;1&family=Inter+Tight:ital,wght@0,100..900;1,100..900&display=swap");

* {
  margin: 0px;
  box-sizing: border-box;
  scroll-behavior: smooth;
  padding: 0px;
}

:root {
  --theme-light: #fdfdfd;
  --theme-blue: #e0e7f1;

  --blue: #3b5fef;

  --pink: #fc466d;
  --pink-2: #ff7676;
  --pink-light: #ffd6d6;

  --yellow: #ffd82b;
  --yellow-2: #ffe39b;
  --yellow-light: #fff3d6;

  --green: #64ffa2;

  --dark-bg: rgb(22, 22, 22);
  --light-bg: #ffffff;
  --grey-bg: #f4f4f5;

  --text: #a2a2a2;
  --text-dark: #1d1e26;
  --text-med: #707070;

  --text-light: #c0c0c0;
  --text-vlight: #fffffb;

  --upstox: #48197a;
  --openhouse: #ef5c34;

  --easing: cubic-bezier(0.68, 0.28, 0.82, 0.64);
  --easing-slick: cubic-bezier(0.02, 0.98, 0.65, 1.15);
}

body {
  font-family: "Inter Tight", sans-serif;
  font-weight: 400;
  overflow-x: hidden;
  color: var(--text-dark);
}

.loader-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--dark-bg);
  /* background-image: url("data:image/svg+xml,%3Csvg width='52' height='26' viewBox='0 0 52 26' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='none' fill-rule='evenodd'%3E%3Cg fill='%23e3e3e3' fill-opacity='0.35'%3E%3Cpath d='M10 10c0-2.21-1.79-4-4-4-3.314 0-6-2.686-6-6h2c0 2.21 1.79 4 4 4 3.314 0 6 2.686 6 6 0 2.21 1.79 4 4 4 3.314 0 6 2.686 6 6 0 2.21 1.79 4 4 4v2c-3.314 0-6-2.686-6-6 0-2.21-1.79-4-4-4-3.314 0-6-2.686-6-6zm25.464-1.95l8.486 8.486-1.414 1.414-8.486-8.486 1.414-1.414z' /%3E%3C/g%3E%3C/g%3E%3C/svg%3E"); */
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 9999;
  opacity: 1;
  transition: opacity 0.5s ease-out, transform 0.5s ease-out;
}

.loader p {
  font-size: 1.5rem;
  color: rgb(186, 186, 186);
  scale: 1.5;
  animation: scaleDown 1s ease-in;
}

.loader img {
  height: 400px;
  width: auto;
}

.hide-loader {
  opacity: 0;
  transform: translateY(-100%);
  pointer-events: none;
}

.texture {
  width: fill;
  height: 100%;
  background-image: url(../assets/new-assets/texture.png);
  background-size: auto 100%;
  transition: 0.25s all ease-in;
}

#header-logo {
  animation: rotation 15s infinite linear;
  height: 6rem;
  width: 6rem;
  margin-bottom: 40px;
  margin-left: -8px;
}

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}

#serif {
  font-family: "Instrument Serif", serif;
  font-style: italic;
  color: var(--text-vlight);
  font-weight: 700;
  letter-spacing: 0.2px;
  margin-left: 8px;
  font-size: 4.7rem;
}

.white-bg {
  width: 100%;
  height: 100vh;
}

.title {
  display: flex;
  flex-direction: column;
  width: 90%;
  max-width: 1280px;
  margin: auto;
  padding-top: 45vh;
}

.title p {
  font-size: 4.5em;
  font-weight: 550;
  width: 100%;
  max-width: 980px;
  display: block;
  color: var(--text-vlight);
}

#details {
  height: 72px;
  width: 72px;
  margin-bottom: -12px;
}

.crib {
  background-color: #faf9f6;
  width: 100%;
  height: fill;
  padding-bottom: 100px;
}

.openhouse {
  background-color: #111111;
  width: 100%;
  padding-bottom: 100px;
}

.upstox {
  background-color: var(--upstox);
  width: 100%;
  height: auto;
  padding-top: 0.1px;
  padding-bottom: 100px;
}

.work-container {
  width: 90%;
  max-width: 1280px;
  margin: auto;
  padding-top: 100px;
}

.work-time {
  font-size: 1.5rem;
  color: var(--text);
  margin-left: 4px;
}

.work-title {
  font-size: 4.5rem;
  margin-top: 16px;
  font-weight: 550;
}

.work-title-light {
  font-size: 4.5rem;
  margin-top: 16px;
  font-weight: 550;
  color: var(--text-vlight);
}

.crib-work {
  width: 100%;
  max-width: 1280px;
  display: flex;
  flex-direction: column;
  row-gap: 40px;
  margin-top: 80px;
}

.crib-work-row {
  width: 100%;
  display: flex;
  justify-content: space-between;
  column-gap: 40px;
}

.crib-box-small {
  width: 100%;
  max-width: 500px;
  height: 500px;
  background-color: var(--grey-bg);
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  position: relative;
  cursor: url(../assets/cursor.png), pointer;
}

.crib-box-small-1 {
  width: 100%;
  max-width: 500px;
  height: 500px;
  background-color: var(--grey-bg);
  border-radius: 8px;
  overflow: hidden;
  position: relative;
  cursor: url(../assets/cursor.png), pointer;
}

.carousel-track {
  display: flex;
  width: 300%; /* Total width = number of slides * 100% */
  transition: transform 0.5s ease-in-out;
}

.carousel-slide {
  flex: 1;
  min-width: 480px;
}

.carousel-slide img {
  width: 100%;
  height: auto;
}

.crib-box-large {
  width: 100%;
  max-width: 740px;
  height: 500px;
  background-color: #eeeeee;
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  position: relative;
  cursor: url(../assets/cursor.png), pointer;
}

#collection {
  width: 80%;
  max-width: 280px;
  margin-top: -360px;
  transition: 0.25s all ease-in;
  position: absolute;
  z-index: 1;
}

#crib-desktop:hover {
  scale: 0.9;
  margin-top: 0px;
  transition: 0.25s all ease-in;
}

#crib-desktop {
  width: 90%;
  max-width: 640px;
  margin-top: 160px;
  transition: 0.25s all ease-in;
}

.ticker-2 {
  width: 100%;
  overflow: hidden;
  position: absolute;
  z-index: 0;
  display: flex;
  margin-top: 296px;
}

.ticker-list-2 {
  display: flex;
  animation: ticker 10s linear infinite;
  transition: 0.25s all ease-in;
}

.ticker-item-2 {
  margin-right: 8px;
  border-radius: 20px;
  padding: 8px;
  width: fill;
  height: 108px;
}

.ticker-item-2 img {
  height: 100%;
}

.ticker-4 {
  width: 100%;
  overflow: hidden;
  display: flex;
}

.ticker-list-4 {
  display: flex;
  animation: ticker 20s linear infinite;
  transition: 0.25s all ease-in;
}

.ticker-item-4 {
  margin-right: 20px;
  border-radius: 12px;
  padding: 8px;
  width: 360px;
}

.ticker-item-4 img {
  width: 100%;
  height: auto;
}

.openhouse-grid {
  width: 100%;
  max-width: 1280px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 80px;
  column-gap: 40px;
}

.moments-container {
  width: 100%;
  max-width: 400px;
  height: 720px;
  background-color: #ffef9e;
  overflow: hidden;
  transition: 0.25s all ease-in;
  border-radius: 8px;
}

.modules-container {
  width: 100%;
  max-width: 400px;
  height: 720px;
  background-color: #ceffca;
  overflow: hidden;
  transition: 0.25s all ease-in;
  border-radius: 8px;
  margin-top: 80px;
}

.milestones-container {
  width: 100%;
  max-width: 400px;
  height: 720px;
  background-color: #bddcff;
  overflow: hidden;
  transition: 0.25s all ease-in;
  border-radius: 8px;
  margin-top: 160px;
}

.moments-container img {
  width: 360px;
  rotate: -16deg;
  margin-left: 160px;
  margin-top: -80px;
  transition: 0.25s all ease-in;
  scale: 1.05;
}

.moments-container:hover img {
  rotate: 0deg;
  scale: 1;
  margin: auto;
  margin-left: 20px;
  margin-top: 120px;
}

.modules-container img {
  width: 360px;
  rotate: -16deg;
  margin-left: 160px;
  margin-top: -100px;
  transition: 0.25s all ease-in;
  scale: 1;
}

.modules-container:hover img {
  rotate: 0deg;
  scale: 1;
  margin: auto;
  margin-left: 20px;
  margin-top: 120px;
}

.milestones-container:hover img {
  rotate: 0deg;
  scale: 1;
  margin: auto;
  margin-left: 20px;
  margin-top: 120px;
}

.milestones-container img {
  width: 360px;
  rotate: -16deg;
  margin-left: 160px;
  margin-top: -100px;
  transition: 0.25s all ease-in;
  scale: 1;
}

.upstox-work-container {
  width: 100%;
  max-width: 1280px;
  height: 600px;
  display: flex;
  justify-content: space-between;
  margin-top: 80px;
  column-gap: 40px;
}

.upstox-work {
  background-color: #d6cbee;
  width: 100%;
  max-width: 480px;
  height: 600px;
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: url(../assets/cursor.png), pointer;
}

.upstox-people {
  width: 100%;
  max-width: 760px;
  height: 600px;
  background-image: url(../assets/upstox-people.png);
  background-size: auto 100%;
  border-radius: 8px;
  transition: 0.25s all ease-in;
}

.upstox-people:hover {
  background-size: auto 110%;
  transition: 0.25s all ease-in;
  cursor: url(../assets/cursor.png), pointer;
}

.up-people-text {
  margin-top: 360px;
  margin-left: 32px;
  width: 90%;
  max-width: 400px;
  font-size: 2.75rem;
  font-weight: 600;
  color: var(--text-vlight);
}

.extras {
  padding-top: 120px;
  padding-bottom: 200px;
}

.extra-title {
  font-family: "Instrument Serif", serif;
  font-style: italic;
  color: var(--text-dark);
  font-weight: 700;
  letter-spacing: 0.2px;
  margin-left: 8px;
  font-size: 5rem;
  width: 90%;
  max-width: 1280px;
  margin: auto;
}

.ticker {
  width: 100%;
  overflow: hidden;
  display: flex;
  margin-top: 100px;
}

.ticker-list {
  display: flex;
  animation: ticker 30s linear infinite;
}

.ticker-item {
  margin-right: 32px;
  border: 1px solid #dbe0ed;
  border-radius: 20px;
  padding: 8px;
  width: 420px;
  height: 420px;
}

.ticker-item img {
  height: 100%;
  border-radius: 12px;
  -webkit-box-shadow: 0px 5px 19px 0px rgba(215, 215, 219, 0.3);
  -moz-box-shadow: 0px 5px 19px 0px rgba(215, 215, 219, 0.3);
  box-shadow: 0px 5px 19px 0px rgba(215, 215, 219, 0.3);
}

@keyframes ticker {
  100% {
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%);
  }
}

@media only screen and (max-width: 800px) {
  .title {
    padding-top: 25vh;
  }

  #serif {
    font-size: 2.65rem;
  }

  .title p {
    font-size: 2.5rem;
  }

  .work-title {
    font-size: 3rem;
  }

  .crib-work-row {
    flex-direction: column;
    row-gap: 32px;
  }

  .crib-work {
    width: 100%;
    max-width: 1280px;
    display: flex;
    flex-direction: column;
    row-gap: 40px;
    margin-top: 80px;
  }

  .crib-work-row {
    width: 100%;
    display: flex;
    justify-content: space-between;
    column-gap: 40px;
  }

  .crib-box-small {
    width: 100%;
    max-width: 500px;
    height: 500px;
    background-color: var(--grey-bg);
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    position: relative;
    cursor: url(../assets/cursor.png), pointer;
  }

  .crib-box-small-1 {
    width: 100%;
    max-width: 500px;
    height: 360px;
    background-color: var(--grey-bg);
    border-radius: 8px;
    overflow: hidden;
    position: relative;
    cursor: url(../assets/cursor.png), pointer;
  }

  .crib-box-small-1 img {
    width: auto;
    height: 100%;
  }

  .crib-box-large {
    width: 100%;
    max-width: 740px;
    height: 360px;
    background-color: #eeeeee;
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    position: relative;
    cursor: url(../assets/cursor.png), pointer;
  }

  #crib-desktop:hover {
    scale: 0.9;
    margin-top: 0px;
    transition: 0.25s all ease-in;
  }

  #crib-desktop {
    width: 90%;
    max-width: 640px;
    margin-top: 1px;
    transition: 0.25s all ease-in;
  }

  /* .carousel-track {
    display: flex;
    width: 300%; /* Total width = number of slides * 100% 
    transition: transform 0.5s ease-in-out;
  }

  .carousel-slide {
    flex: 1;
    min-width: 480px;
  }

  .carousel-slide img {
    width: fill;
    height: 100%;
  } */

  .work-title-light {
    font-size: 3rem;
  }

  .openhouse-grid {
    width: 100%;
    max-width: 1280px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-top: 80px;
  }

  .moments-container {
    width: 100%;
    max-width: 400px;
    height: 480px;
  }

  .modules-container {
    width: 100%;
    max-width: 400px;
    height: 480px;
    margin-top: 40px;
  }

  .milestones-container {
    width: 100%;
    max-width: 400px;
    height: 480px;
    margin-top: 40px;
  }

  .upstox {
    height: auto;
    padding-top: 0.1px;
    padding-bottom: 100px;
  }

  .upstox-work-container {
    width: 100%;
    max-width: 1280px;
    height: auto;
    display: flex;
    flex-direction: column;
    row-gap: 40px;
    margin-top: 80px;
  }

  .upstox-people {
    width: 100%;
    max-width: 760px;
    height: 400px;
    background-size: auto 100%;
  }

  .up-people-text {
    margin-top: 240px;
    margin-left: 20px;
    width: 90%;
    max-width: 400px;
    font-size: 2.25rem;
  }

  .extra-title {
    font-family: "Instrument Serif", serif;
    font-style: italic;
    color: var(--text-dark);
    font-weight: 700;
    letter-spacing: 0.2px;
    margin-left: 8px;
    font-size: 3.5rem;
    width: 90%;
    max-width: 1280px;
    margin: auto;
  }

  .ticker-item {
    margin-right: 32px;
    border-radius: 16px;
    padding: 6px;
    width: 328px;
    height: 328px;
  }

  .ticker-item img {
    height: 100%;
    border-radius: 10px;
  }

  .ticker {
    margin-top: 40px;
  }

  .extras {
    padding-top: 80px;
    padding-bottom: 120px;
  }
}
