@import url("https://api.fontshare.com/v2/css?f[]=general-sans@1,200,500,300,600,400,700&display=swap");
@import url("https://use.typekit.net/zmy0cob.css");
@import url("https://fonts.googleapis.com/css2?family=Patrick+Hand&family=Rubik:wght@400;500;600;700&display=swap");
@import url("https://api.fontshare.com/v2/css?f[]=satoshi@1,700,500,300,400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bitter:ital,wght@0,100..900;1,100..900&family=Space+Grotesk:wght@300;400;500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Handlee&family=Space+Grotesk:wght@300;400;500&display=swap");

* {
  margin: 0px;
  box-sizing: border-box;
  scroll-behavior: smooth;
  padding: 0px;
}

:root {
  --theme-light: #fdfdfd;
  --theme-blue: #e0e7f1;

  --blue: #3b8eef;

  --pink: #fc466d;
  --pink-2: #ff7676;
  --pink-light: #ffd6d6;

  --yellow: #ffd82b;
  --yellow-2: #ffd976;
  --yellow-light: #fff3d6;

  --green: #64ffa2;

  --dark-bg: rgb(22, 22, 22);
  --light-bg: #ffffff;
  --grey-bg: #f4f4f5;

  --text: #a2a2a2;
  --text-dark: #1d1e26;
  --text-med: #707070;

  --text-light: #c0c0c0;
  --text-vlight: #fffffb;

  --upstox: #551e90;
  --openhouse: #ef5c34;

  --easing: cubic-bezier(0.68, 0.28, 0.82, 0.64);
  --easing-slick: cubic-bezier(0.02, 0.98, 0.65, 1.15);
}

body {
  font-family: "General Sans", sans-serif;
  font-weight: 400;
  overflow-x: hidden;
  color: var(--text-dark);
}

.loader-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--text-vlight);
  background-image: url("data:image/svg+xml,%3Csvg width='52' height='26' viewBox='0 0 52 26' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='none' fill-rule='evenodd'%3E%3Cg fill='%23e3e3e3' fill-opacity='0.35'%3E%3Cpath d='M10 10c0-2.21-1.79-4-4-4-3.314 0-6-2.686-6-6h2c0 2.21 1.79 4 4 4 3.314 0 6 2.686 6 6 0 2.21 1.79 4 4 4 3.314 0 6 2.686 6 6 0 2.21 1.79 4 4 4v2c-3.314 0-6-2.686-6-6 0-2.21-1.79-4-4-4-3.314 0-6-2.686-6-6zm25.464-1.95l8.486 8.486-1.414 1.414-8.486-8.486 1.414-1.414z' /%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 9999;
  opacity: 1;
  transition: opacity 0.5s ease-out, transform 0.5s ease-out;
}

.loader p {
  font-size: 1.5rem;
  color: rgb(186, 186, 186);
  scale: 1.5;
  animation: scaleDown 1s ease-in;
}

.hide-loader {
  opacity: 0;
  transform: translateY(-100%);
  pointer-events: none;
}

.white-bg {
  background-color: #ffffff;
  padding-bottom: 200px;
}

.pr3 {
  margin: auto;
  margin-bottom: -12px;
}

.pr3 img {
  width: 5rem;
  height: 100%;
}

.title {
  padding-top: 250px;
  width: 90%;
  max-width: 900px;
  margin: auto;
  transform: translateY(-20px);
  animation: slideIn 1s forwards ease-out;
  letter-spacing: -2px;
}

h1 {
  font-family: "General Sans", sans-serif;
  font-size: 9rem;
  font-weight: 600;
  line-height: 1;
}

#hero-light {
  font-weight: 450;
}

/* #handwritten {
  font-family: "Patrick Hand", sans-serif;
  font-weight: 400;
  font-size: 4.1rem;
  color: var(--text-dark);
} */

.title img {
  height: 5rem;
  margin-left: -12px;
  z-index: -1;
}

.scroller {
  margin-left: 12px;
  height: 1.5em;
  position: relative;
  overflow: hidden;
  width: 320px;
}
.scroller > span {
  position: absolute;
  top: 0;
  animation: slide 20s infinite;
}

#hero-light img {
  margin-left: -60px;
  margin-bottom: -5px;
}

@keyframes scaleDown {
  to {
    scale: 1;
  }
}

@keyframes slideIn {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes slide {
  0% {
    top: 0;
  }
  8.3% {
    top: -1.29em;
  }
  16.6% {
    top: -2.7em;
  }
  24.9% {
    top: -4.1em;
  }
  35.2% {
    top: -5.45em;
  }
  41.5% {
    top: -6.85em;
  }
  49.9% {
    top: -8.25em;
  }
  58.2% {
    top: -9.65em;
  }
  66.5% {
    top: -11.05em;
  }
  74.8% {
    top: -12.45em;
  }
  83.2% {
    top: -13.85em;
  }
  91.5% {
    top: -15.25em;
  }
}

.ticker {
  width: 100%;
  overflow: hidden;
  display: flex;
  margin-top: 100px;
}

.ticker-list {
  display: flex;
  animation: ticker 30s linear infinite;
}

.ticker-item {
  margin-right: 32px;
  border: 1px solid #dbe0ed;
  border-radius: 20px;
  padding: 8px;
  width: 400px;
  height: 400px;
}

.ticker-item img {
  height: 100%;
  border-radius: 12px;
  -webkit-box-shadow: 0px 5px 19px 0px rgba(215, 215, 219, 0.3);
  -moz-box-shadow: 0px 5px 19px 0px rgba(215, 215, 219, 0.3);
  box-shadow: 0px 5px 19px 0px rgba(215, 215, 219, 0.3);
}

@keyframes ticker {
  100% {
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%);
  }
}

.sub-header {
  width: 90%;
  max-width: 900px;
  margin: auto;
  margin-top: 200px;
  color: var(--text-med);
}

.sub-header-2 {
  display: flex;
  flex-direction: row;
  margin-top: 32px;
}

h2 {
  font-family: "General Sans", sans-serif;
  font-size: 2.25rem;
  font-weight: 400;
}

#company-name {
  font-weight: 500;
  color: var(--text-dark);
}

.divider {
  text-align: center;
  color: var(--text-light);
  font-size: 1.5rem;
  margin-bottom: 8px;
}

.work-grid {
  display: flex;
  width: 95%;
  max-width: 1000px;
  justify-content: space-between;
  margin: auto;
  margin-top: 40px;
}

.work {
  width: 100%;
  padding-top: 160px;
  padding-bottom: 120px;

  background-color: #f7f7f9;
}

.work-card {
  width: 100%;
  max-width: 480px;
  height: auto;
  padding: 8px;
  background-color: var(--light-bg);
  border-radius: 16px;
}

.work-card-crib {
  width: 95%;
  max-width: 1000px;
  margin: auto;
  padding: 8px;
  background-color: var(--light-bg);
  border-radius: 16px;
}

.work-img-crib {
  width: 100%;
  height: 460px;
  border-radius: 8px;
  background-image: url(../assets/crib-work.png);
  background-size: 100% auto;
}

.work-img-upstox {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 400px;
  border-radius: 8px;
  background-image: url(../assets/upstox.png);
  background-size: 100% auto;
}

.work-img-openhouse {
  width: 100%;
  height: 400px;
  border-radius: 8px;
  background-image: url(../assets/openhouse.png);
  background-size: 100% auto;
}

.work-description {
  height: 80px;
  padding: 8px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.work-desc-text {
  font-size: 1.25rem;
  color: var(--text);
  font-weight: 300;
}

#work-name {
  font-weight: 550;
  margin-right: 2px;
  color: var(--text-dark);
}

.work-description i {
  font-size: 2rem;
  color: var(--text-light);
}

.home-links {
  width: 95%;
  max-width: 980px;
  margin: auto;
  margin-top: 80px;
  font-size: 1.5rem;
  display: flex;
  align-items: center;
  text-decoration: none;
  position: relative;
  transition: 0.2s all ease-in;
}

.home-links i {
  margin-left: 12px;
  color: var(--blue);
}

.home-links:after {
  content: "";
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  margin-top: 4px;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: var(--blue);
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}

.home-links:hover:after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

.blogs {
  width: 100%;
  height: auto;
  background-color: var(--theme-light);
  padding: 100px;
  background-image: url("data:image/svg+xml,%3Csvg width='52' height='26' viewBox='0 0 52 26' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='none' fill-rule='evenodd'%3E%3Cg fill='%23e3e3e3' fill-opacity='0.35'%3E%3Cpath d='M10 10c0-2.21-1.79-4-4-4-3.314 0-6-2.686-6-6h2c0 2.21 1.79 4 4 4 3.314 0 6 2.686 6 6 0 2.21 1.79 4 4 4 3.314 0 6 2.686 6 6 0 2.21 1.79 4 4 4v2c-3.314 0-6-2.686-6-6 0-2.21-1.79-4-4-4-3.314 0-6-2.686-6-6zm25.464-1.95l8.486 8.486-1.414 1.414-8.486-8.486 1.414-1.414z' /%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
}

.section-title {
  width: 92%;
  max-width: 990px;
  margin: auto;
  font-size: 2.5rem;
  font-weight: 600;
  margin-bottom: 80px;
  color: #323341;
}

.blog-container {
  width: 100%;
  max-width: 1000px;
  margin: auto;
  display: flex;
  overflow-x: visible;
  /* justify-content: space-between; */
}

.blog-box {
  width: 95%;
  max-width: 360px;
  height: auto;
  border-radius: 16px;
  /* background-color: rgba(255, 255, 255, 0.5); */
  /* border: 1px solid #ececec; */
  -webkit-backdrop-filter: blur(4px);
  backdrop-filter: blur(4px);
  margin-right: 60px;
  /* padding: 8px; */
}

/* .blog-box-2 {
  width: 95%;
  max-width: 300px;
  height: auto;
  border-radius: 16px;
  background-color: rgba(207, 207, 207, 0.15);
  border: 1px solid #c8c8c8;
  -webkit-backdrop-filter: blur(4px);
  backdrop-filter: blur(4px);
  padding: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Gulzar", serif;
  font-size: 1.5rem;
} */

.blog-image img {
  width: 100%;
  height: auto;
  border-radius: 8px;
}

.blog-title {
  font-size: 1.25rem;
  width: 92%;
  font-weight: 500;
  margin-top: 16px;
  margin-left: 4px;
  color: var(--text-dark);
}

.blog-date {
  margin-top: 16px;
  color: var(--text);
  margin-bottom: 12px;
  margin-left: 4px;
}

.row {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

@media only screen and (max-width: 800px) {
  .title {
    padding-top: 150px;
  }

  h1 {
    font-size: 5rem;
  }

  h2 {
    font-size: 1.5rem;
  }

  .sub-header {
    margin-top: 120px;
  }

  .white-bg {
    padding-bottom: 120px;
  }

  .sub-header-2 {
    flex-direction: column;
  }

  .ticker-item {
    width: 320px;
    height: 320px;
  }

  .scroller {
    margin-left: -0.1px;
  }

  .work {
    width: 100%;
    padding: 10px;
    padding-top: 100px;
    padding-bottom: 100px;
    background-color: #f8f9fa;
  }

  .work-grid {
    display: flex;
    flex-direction: column;
    width: 95%;
    max-width: 1000px;
    justify-content: space-between;
    margin: auto;
    margin-top: 40px;
  }

  #upstox-card {
    margin-top: 40px;
  }

  .blogs {
    padding: 10px;
    padding-top: 100px;
    padding-bottom: 100px;
  }

  .blog-container {
    flex-direction: column;
    align-items: center;
  }

  .blog-box {
    width: 95%;
    max-width: 360px;
    margin-top: 40px;
    margin-right: 0.1px;
  }

  .blog-box-2 {
    width: 95%;
    max-width: 360px;
    margin-top: 40px;
  }

  .work-img-crib {
    display: flex;
    width: 100%;
    height: 320px;
    border-radius: 8px;
    background-image: url(../assets/crib-work.png);
    background-size: auto 100%;
    background-position-x: center;
  }

  .work-img-upstox {
    height: 320px;
    background-size: auto 100%;
  }

  .work-img-openhouse {
    height: 320px;
    background-size: auto 100%;
  }
}
