@import url("https://api.fontshare.com/v2/css?f[]=general-sans@1,200,500,300,600,400,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Instrument+Serif:ital@0;1&family=Inter+Tight:ital,wght@0,100..900;1,100..900&display=swap");

* {
  margin: 0px;
  box-sizing: border-box;
  scroll-behavior: smooth;
  padding: 0px;
}

nav {
  font-family: "Inter Tight", sans-serif;
  font-weight: 400;
  position: fixed;
  margin-top: 24px;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  z-index: 100;
}

.body-container {
  width: auto;
  display: flex;
  flex-direction: row;
  border-radius: 10px;
  background-color: rgba(30, 30, 30, 0.2);
  padding: 12px;
  gap: 16px;
  border: 1px solid rgba(136, 136, 136, 0.4);
  -webkit-backdrop-filter: blur(12px);
  backdrop-filter: blur(12px);
  -webkit-box-shadow: 0px 5px 19px 0px rgba(130, 130, 135, 0.3);
  -moz-box-shadow: 0px 5px 19px 0px rgba(98, 98, 105, 0.3);
  box-shadow: 0px 5px 19px 0px rgba(99, 99, 101, 0.3);
}

.cell {
  width: 60px;
  height: 60px;
  background-color: rgba(10, 10, 10, 0.45);
  border-radius: 6px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border: 1px solid rgba(235, 235, 235, 0.2);
  transition: all ease-in 0.2s;
}

.cell:hover {
  background-color: rgba(10, 10, 10, 0.55);
  border: 1px solid #b6bbe5;
  transform: scale(1.1) rotate(5deg);
}

.cell i {
  font-size: 1.4rem;
  color: #f4f4f4;
  /* background: -webkit-linear-gradient(#333333, rgb(177, 178, 183));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent; */
}

.cell:hover i {
  background: -webkit-linear-gradient(#b3b5cc, rgb(151, 157, 186));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.cell-name {
  margin-top: 2px;
  font-size: 0.8rem;
  color: #d4d4d4;
}

.active {
  background-color: #eff2ff;
  border: 1px solid #e2e4ef;
}

@media only screen and (max-width: 800px) {
  nav {
    bottom: 20px;
  }
}
